* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #F0F4F8;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-app {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 30px;
    max-width: 650px;
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.weather-header {
    font-size: 1.5rem;
    padding: 15px 5px 30px 40px;
    background-color: #1A3C5E;
    font-weight: bold;
    color: white;
    text-align: start;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
}

.input-section {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

input {
    font-size: 2rem;
    max-width: 500px;
    width: 100%;
    padding-left: 10px;
    padding-block: 10px;
    border-radius: 15px;
    border: 1px solid hsla(0, 0%, 0%, 0.201);
}

button {
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    background-color: hsl(198, 58%, 43%);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: hsl(198, 58%, 33%);

}

.hero {
    background-color: #2E86AB;
    color: white;
    border-radius: 10px;
    max-width: 620px;
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
    margin-bottom: 10px;
    line-height: 1.3;
    /* padding: 50px; */
}

.loading {
    text-align: center;
    font-size: 1.2rem;
    color: #2E86AB;
    font-weight: 600;
    padding: 30px;
    background: #f0f9ff;
    border-radius: 12px;
    margin: 20px 0;
    transition: 0.2s ease;
}
.weather-icon {
    font-size: 2.5rem;
    padding-top: 20px;
    padding-bottom: 10px;
}

.cityDisplay {
    font-weight: bold;
    font-size: 1.3rem;
    padding-bottom: 10px;
}

.tempDisplay {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 5px;
    cursor: pointer;
}

.descDisplay {
    font-size: 1.1rem;
    padding-bottom: 60px;
    opacity: 80%;
}

.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    padding: 40px;
}

.weather {
    display: flex;
    border-radius: 10px;
    border: 1px solid #d1e2f3;
    max-width: 620px;
    width: 100%;
    margin: auto;
    font-size: 1.3rem;
    padding-block: 20px;
    margin-bottom: 15px;
}

.humid {
    color: gray;
    margin-bottom: 5px;
}

.humidity, .wind, .uv {
    flex: 1;
}

.humidity, .wind {
    border-right: 1px solid #d1e2f3;
}

.humidityDisplay, .windDisplay, .uvDisplay {
    color: #1A3C5E;
    font-weight: bold;
    font-size: 1.2rem;
}

.forcast {
    text-align: start;
    color: gray;
    font-size: 1.3rem;
    font-weight: bolder;
    padding-left: 25px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ecf2f8;
    max-width: 620px;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 12px 20px;
    margin-bottom: 10px;
    background-color: #FAFCFE;
    cursor: pointer;
    transition: all 0.2s ease
}

.days:hover {
    background-color: #eaf0f8;
}
.day {
    width: 35%;
    text-align: start;
    padding-left: 10px;
    color: #1A3C5E;
    font-weight: bold;
}

.weather-day {
    text-align: center;
}

.tempDay {
    text-align: end;
}

.forcast-days {
    margin-bottom: 80px;
}

.first {
    color: #1A3C5E;
    margin-bottom: 5px;
    font-weight: bold;
}

.second {
    color: gray;
}

/*Mobile view*/
@media (max-width: 480px) {
    body {
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
    }

    .weather-app {
        width: 100%;
        max-width: 100%;
        padding: 10px;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .weather-header {
        font-size: 1.2rem;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    .hero {
        width: 100%;
        margin-bottom: 0px;
    }

    .input-section {
        flex-direction: column;
        gap: 5px; 
        margin-bottom: 4px;
        font-size: 0.8rem;
    }

    input {
        width: 100%;
        font-size: 1rem;
        border-radius: 8px; 
    }

    button {
        width: 100%;
        font-size: 1rem;
        border-radius: 8px;
    }

    .weather {
        width: 100%;
        border: none;
        margin-top: 0px;
        margin-bottom: 5px;
        flex-direction: column !important; /* This is to make the layout to stack, overriding JS styles */
    }

    .weather-icon {
        font-size: 1.5rem;
        padding: 7px;
        padding-bottom: 2px;
        padding-top: 5px;
    }

    .cityDisplay {
        font-size: 1.3rem;
        padding-bottom: 5px;
    }

    .tempDisplay {
        font-size: 1.5rem;
        padding-bottom: 7px;
    }
    .descDisplay {
        padding-bottom: 15px;
        font-size: 0.8rem;
    }

    .humidityDisplay, .windDisplay, .uvDisplay {
    color: #1A3C5E;
    font-weight: bold;
    font-size: 1rem;
}

    .humidity, .wind, .uv {
        border: none;
        display: flex;
        justify-content: space-between;
        padding-inline: 10px;
        font-size: 1rem;
    }

    .humidity, .wind {
        border-bottom: 1px solid #d1e2f3;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .forcast {
        padding-left: 10px;
        font-size: 1rem;
        font-weight: bold;
    }
    
    .forcast-days {
        width: 100%;
        font-size: 1rem;
        padding-inline: 5px;
        flex: 1;
        min-height: 0;
        overflow-y: auto;
    }

    .days {
        width: 100%;
        font-size: 1rem;
        gap: 0 !important; 
        padding: 3px 7px;
    }

    .day {
        width: 40%;
        padding-left: 0; 
    }

    .weather-day {
        width: 30%;
        text-align: center;
    }

    .tempDay {
        width: 30%;
        text-align: right;
    }
}